[submodule ".janus/vim-session"]
	path = .janus/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule ".janus/vim-misc"]
	path = .janus/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule ".janus/dash.vim"]
	path = .janus/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
